@font-face {
  font-family: "Trial Arlen Black";
  src: url("/fonts/Trial-Arlen-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Trial Arlen Light";
  src: url("/fonts/Trial-Arlen-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Ac437 IBM BIOS Regular";
  src: url("/fonts/Ac437-IBM-BIOS-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Machina Inktrap Light";
  src: url("https://framerusercontent.com/assets/sXuE2Fy8sKaUX7fE2jhFtTu6PE.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Line";
  src: url("/fonts/GeistPixel-Line.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Triangle";
  src: url("/fonts/GeistPixel-Triangle.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Square";
  src: url("/fonts/GeistPixel-Square.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geist Pixel Grid";
  src: url("/fonts/GeistPixel-Grid.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
