:root {
  --page-bg: #aaaaaa;
  --layout-max: 1200px;
  --shell-padding: 32px;
  --section-height: calc(90svh - var(--shell-padding));
  --type-nameplate-size: min(130px, 10.4vw);
  --type-body-size: 48px;
  --type-copy-size: 22px;
  --hero-bg: #000;
  --hero-fg: #fff;
  --cga-white: #fff;
  --cga-pink: #aa00aa;
  --cga-cyan: #00aaaa;
  --hero-radius: 40px;
  color-scheme: dark;
}